# $Id: .gitignore,v 6.1 2018/01/04 22:22:37 ralph Exp $
# NOTE! Don't add files that are generated in specific
# sub-directories here. Add them in the ".gitignore" file
# in that sub-directory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
CVS/
RCS/
#
# Debian directory (make deb-pkg)
#
linux/debian/
linux/build-stamp
linux/configure-stamp
linux/packaging/debian/cfg2html.dsc.orig
linux/packaging/rpm/cfg2html.spec.orig
#
# from make/Makefile
#
cfg2html-6*git*.tar.gz
cfg2html-6*git*.noarch.rpm
cfg2html*.deb
#
# rest
#
descript.ion
todo.*
sshkey.sh
*,v
*.gz
*.bz2
*.lzma
*.xz
*.lz4
*.lzo
*.patch
*.gcno
*.o
