Source: cfg2html
Section: admin
Priority: optional
Essential: no
Maintainer:Ralph Roth <cfg2html@hotmail.com>; Michael Meifert <dk3hg@users.sourceforge.net>;
Homepage: http://come.to/cfg2html

Package: cfg2html
Architecture: all
Provides: cfg2html
Build-Depends: debhelper (>> 3.0.0)
Depends: bash (>=2.0), debianutils(>=1.16), gawk, coreutils, psmisc
Description: Collects Linux system configuration into a HTML and text file.  
 Config to HTML is the "swiss army knife" for the ASE, CE, sysadmin
 etc. I wrote it to get the nessary informations to plan an update,
 to performe basic trouble shooting or performance analysis.
 As a bonus cfg2html creates a nice HTML and plain ASCII documentation from
 Linux System, Cron and At, installed Hardware, installed Software,
 Filesystems, Dump- and Swapconfiguration, LVM, Network Settings, 
 Kernel, Systemenhancements and Applications, Subsystems.
 
