Source: cfg2html-linux
Section: admin
Priority: optional
Maintainer:Ralph Roth <cfg2html@hotmail.com>; Michael Meifert <dk3hg@users.sourceforge.net>;
Build-Depends: debhelper (>> 3.0.0), make, gnupg, fakeroot, gawk, alien
Standards-Version:  3.7.2

Package: cfg2html-linux
Architecture: all
Depends: bash (>=2.0),debianutils(>=1.16), gawk, coreutils, psmisc
Description: Collects Linux system configuration into a HTML and text file.  
 Config to HTML is the "swiss army knife" for the ASE, CE, sysadmin
 etc. I wrote it to get the nessary informations to plan an update,
 to performe basic trouble shooting or performance analysis.
 As a bonus cfg2html creates a nice HTML and plain ASCII documentation from
 Linux System, Cron and At, installed Hardware, installed Software,
 Filesystems, Dump- and Swapconfiguration, LVM, Network Settings, 
 Kernel, Systemenhancements and Applications, Subsystems.
 The newest versions are downloadable at:      http://come.to/cfg2html
 The newest beta versions are downloadable at: www.cfg2html.com
 
